@media screen and (max-width: 1200px) {
    .testimonial {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .testimonial {
        width: 75%;
    }
}

@media screen and (max-width: 480px) {
    .testimonial {
        width: 100%;
    }
}

