html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.grid {
  background-color: #c3cfe2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.grid__container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, auto);
  margin: 0 auto;
  position: relative;
}

.testimonial__btn {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}
.testimonial__btn--button {
  padding: 1rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
  border: 1rem ridge #fff;
  cursor: pointer;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}
.testimonial__btn--button:hover {
  border: 1rem ridge #686de0;
  color: #686de0;
}
.testimonial__btn:hover {
  background-color: #3a3e44;
  opacity: 1;
}

.testimonial__bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
}

.testimonial {
  color: #000;
  background-color: #c3cfe2;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: auto;
  width: auto;
  padding: 1.5rem;
  margin: 2rem 2rem 0 2rem;
  position: relative;
}
.testimonial__text {
  font-size: 1.6rem;
  background-color: #fff;
  border-radius: 1.5rem 1.5rem 0 0;
  padding: 3.5rem 2.5rem 6rem 2.5rem;
}
.testimonial__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.testimonial__img--content {
  background-color: #fff;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  padding: 0.5rem;
  position: absolute;
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem);
  -webkit-transition: padding 150ms linear;
  transition: padding 150ms linear;
}
.testimonial__img--content:hover {
  padding: 0;
  -webkit-transition: padding 150ms linear;
  transition: padding 150ms linear;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #686de0;
  border-radius: 0 0 1rem 1rem;
  height: 15rem;
  color: #fff;
}
.footer__name {
  font-size: 1.6rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  font-weight: 400;
}
.footer__link {
  font-size: 1.6rem;
  color: #fff;
  opacity: 0.5;
  -webkit-transition: color 250ms ease-out, font-size 250ms ease-out;
  transition: color 250ms ease-out, font-size 250ms ease-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.footer__link--hover:hover {
  color: #000;
  opacity: 1;
  font-weight: 700;
  font-size: 1.8rem;
  cursor: pointer;
  -webkit-transition: color 250ms ease-in, font-size 250ms ease-in;
  transition: color 250ms ease-in, font-size 250ms ease-in;
}

@media screen and (max-width: 768px) {
  .grid__container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: minmax(auto, 1fr) minmax(auto, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .grid__container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: minmax(auto, 1fr);
  }
}
/*# sourceMappingURL=styles.css.map */